* {
  margin: 0;
  padding: 0;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Nunito Sans', sans-serif; */

body {
  margin: 0;
  background-color: #1f2937;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

.btns ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px 0;
}

.credit-card-container {
  background-color: #f3f4f6;
  width: 893px;
  height: 503px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 132px;
  box-sizing: border-box;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.credit-card {
  width: 280px;
  height: 176px;
  background: linear-gradient(270deg, #030712 60%, #595959);
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 5px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: #f9fafb;
}

.front-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: default;
}

.front-card .card-logo {
  height: 25px;
  text-align: end;
}

.card-number {
  margin: auto;
  border: 1px solid #507ffa;
  padding: 6px 15.5px;
  border-radius: 8px;
}

.front-card ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 6.5px;
}

.expiry-date-title,
.name-title {
  font-weight: bold;
}

.back-card {
  /* display: block; */
  display: none;
  position: relative;
  cursor: default;
}

.back-card .line-card {
  position: absolute;
  left: 0;
  top: 39px;
  background-color: #a9a9a9;
  height: 41px;
  width: 100%;
}

.back-card .verification-code-card {
  position: absolute;
  top: 101px;
  right: 23px;
  padding: 0.375rem 1rem;
  border: 1px solid #507ffa;
  border-radius: 6px;
  font-weight: bold;
}

.back-card .card-logo-back {
  position: absolute;
  bottom: 9px;
  left: 13.65px;
}

.right {
  padding: 54px 0;
}

form {
  width: 249px;
}

form h1 {
  font-size: 18px;
  font-weight: bold;
  color: #101010;
  margin-bottom: 10px;
}

label {
  font-size: 13px;
  font-weight: 500;
  color: #101010;
  display: block;
  margin-bottom: 2px;
}

input,
select {
  background-color: #f9fafb;
  border: 1px solid #d3d3d3;
  padding: 15px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
}

.voltar-btn,
.fazer-pedido-btn {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  border: 1px solid #507ffa;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #1f2937;
  color: #f3f4f6;
  transition: transform 0.3s ease-out;
}

.voltar-btn {
  width: 3rem;
}

.fazer-pedido-btn {
  width: 12rem;
  margin-top: 1rem;
}

.fazer-pedido-btn:hover,
.voltar-btn:hover {
  transform: scale(1.05);
}

.right li {
  margin-bottom: 10px;
}

.expiration-date {
  display: flex;
  gap: 5px;
}

.expiration-date li {
  width: 100%;
}
